.mediaViewInfo {
	--web-view-name: ColaDIIBIIMOBILE;
	--web-view-id: ColaDIIBIIMOBILE;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ColaDIIBIIMOBILE;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ColaDIIBIIMOBILE {
	position: absolute;
	width: 414px;
	height: 896px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: ColaDIIBIIMOBILE;
	--web-view-id: ColaDIIBIIMOBILE;
	--web-enable-deep-linking: true;
}
#Left_Pane {
	position: absolute;
	width: 414px;
	height: 896px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1528 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 896px;
	left: 0px;
	top: 0px;
}
#Pane {
	filter: blur(18.184px);
}
.Pane {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 615px;
	left: 36px;
	top: 277px;
}
#Browse {
	position: absolute;
	width: 121.947px;
	height: 147.374px;
	left: 50px;
	top: 406px;
	overflow: visible;
}
#BROWSE {
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(100,100,100,1);
	letter-spacing: 0.4px;
}
#Home {
	position: absolute;
	width: 109.391px;
	height: 28px;
	left: 1.556px;
	top: 55.231px;
	overflow: visible;
}
#Home_m {
	position: absolute;
	left: 46.391px;
	top: 0px;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#home_water {
	position: absolute;
	width: 21.835px;
	height: 21.834px;
	left: 0px;
	top: 1.549px;
	overflow: visible;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 21.834px;
	height: 21.834px;
	left: 0px;
	top: 0px;
}
#Group_13 {
	position: absolute;
	width: 21.81px;
	height: 21.834px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 21.81px;
	height: 21.834px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Songs {
	position: absolute;
	width: 74px;
	height: 28px;
	left: 47.947px;
	top: 119.374px;
	overflow: visible;
}
#Python {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
.Active_Link {
	display: none;
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: -34px;
	top: 62px;
}
#Python_logo_coladb {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 2px;
	top: 122px;
	overflow: visible;
}
#Latest_news {
	position: absolute;
	width: 216px;
	height: 74.016px;
	left: 52px;
	top: 594.984px;
	overflow: visible;
}
#Latest_news_w {
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(100,100,100,1);
	letter-spacing: 0.4px;
}
#Welcome_to_CoLaDB {
	position: absolute;
	left: 0px;
	top: 46.016px;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#About {
	position: absolute;
	width: 105px;
	height: 74.089px;
	left: 52px;
	top: 687.911px;
	overflow: visible;
}
#About_us {
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(100,100,100,1);
	letter-spacing: 0.4px;
}
#F_A_Q {
	position: absolute;
	left: 0px;
	top: 46.089px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#Contact_us {
	position: absolute;
	left: 52px;
	top: 781px;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#Animated_Search {
	position: absolute;
	width: 52.484px;
	height: 61.571px;
	left: 36px;
	top: 33px;
	overflow: visible;
}
.Rectangle_1523 {
	position: absolute;
	overflow: visible;
	width: 52.484px;
	height: 53.34px;
	left: 0px;
	top: 0px;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 0.021px;
	height: 15.662px;
	transform: translate(0px, 0px) matrix(1,0,0,1,46.976,47.7338) rotate(-40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Sign_In {
	position: absolute;
	width: 135px;
	height: 60px;
	left: 62px;
	top: 167px;
	overflow: visible;
}
.Rectangle_1527 {
	position: absolute;
	overflow: visible;
	width: 135px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Sign_in {
	position: absolute;
	left: 46px;
	top: 22px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.4px;
}
#Create_account {
	position: absolute;
	width: 135px;
	height: 60px;
	left: 217px;
	top: 167px;
	overflow: visible;
}
.Rectangle_1526 {
	position: absolute;
	overflow: visible;
	width: 135px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Create_account_ {
	position: absolute;
	left: 15px;
	top: 22px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.4px;
}
#CoLaDBLogo2 {
	position: absolute;
	width: 245px;
	height: 106px;
	left: 85px;
	top: 293px;
	overflow: visible;
}