.mediaViewInfo {
	--web-view-name: Cola 1920 Logged out;
	--web-view-id: Cola_1920_Logged_out;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Cola_1920_Logged_out;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Cola_1920_Logged_out {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Cola 1920 Logged out;
	--web-view-id: Cola_1920_Logged_out;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_37 {
	position: absolute;
	width: 2305.354px;
	height: 2074.946px;
	left: -245.356px;
	top: -1.5px;
	overflow: visible;
}
#Group_36 {
	position: absolute;
	width: 2305.354px;
	height: 2074.946px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Tausta {
	overflow: visible;
	position: absolute;
	width: 1920.924px;
	height: 1080.723px;
	left: 244.856px;
	top: 1.036px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_47 {
	overflow: visible;
	position: absolute;
	width: 1925.774px;
	height: 640.441px;
	left: 242.856px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 1920.581px;
	height: 381.943px;
	left: 245.356px;
	top: 542px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 3px;
	left: 245.356px;
	top: 542px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 445.65px;
	height: 836.406px;
	left: 1721.856px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pane {
	filter: blur(19.005px);
}
.Pane {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	width: 439px;
	height: 1050px;
	position: absolute;
	overflow: visible;
	transform: translate(244.856px, 1.5px) matrix(1,0,0,1,887,-226.5) rotate(90deg);
	transform-origin: center;
}
#ColaDB_Hakuengine_logo {
	position: absolute;
	width: 669.089px;
	height: 497.779px;
	left: 859.267px;
	top: 3.5px;
	overflow: visible;
}
.Polygon_1 {
	overflow: hidden;
	position: absolute;
	width: 398px;
	height: 345px;
	transform: translate(0px, 0px) matrix(1,0,0,1,59.5891,76.3894) rotate(30deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#CoLaDBLogo1 {
	position: absolute;
	width: 187px;
	height: 187px;
	left: 15.089px;
	top: 136px;
	overflow: visible;
}
#__Start_by_clicking_me_ {
	position: absolute;
	left: 334.089px;
	top: 279px;
	overflow: visible;
	width: 336px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.2px;
}
#colaengine {
	position: absolute;
	width: 2305.354px;
	height: 1537.515px;
	left: 0px;
	top: 537.431px;
	overflow: visible;
}
#Create_account {
	position: absolute;
	width: 170px;
	height: 60px;
	left: 1706.356px;
	top: 8.5px;
	overflow: visible;
}
.Rectangle_1526 {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Create_account_v {
	position: absolute;
	left: 34px;
	top: 22px;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.4px;
}
#Sign_In {
	position: absolute;
	width: 170px;
	height: 60px;
	left: 1524.356px;
	top: 8.5px;
	overflow: visible;
}
.Rectangle_1527 {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Sign_in {
	position: absolute;
	left: 63px;
	top: 22px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.4px;
}
#Left_Pane {
	position: absolute;
	width: 398px;
	height: 1080px;
	left: 385.356px;
	top: 1.5px;
	overflow: visible;
}
#Pane_ {
	filter: blur(19.005px);
}
.Pane_ {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 416px;
	height: 1099px;
	left: 0px;
	top: 0px;
}
#Browse {
	position: absolute;
	width: 121.947px;
	height: 147px;
	left: 40px;
	top: 206px;
	overflow: visible;
}
#BROWSE {
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(100,100,100,1);
	letter-spacing: 0.4px;
}
#Home {
	position: absolute;
	width: 109.391px;
	height: 28px;
	left: 1.556px;
	top: 54.857px;
	overflow: visible;
}
#Home_ {
	position: absolute;
	left: 46.391px;
	top: 0px;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#home_water {
	position: absolute;
	width: 21.835px;
	height: 21.834px;
	left: 0px;
	top: 1.549px;
	overflow: visible;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 21.834px;
	height: 21.834px;
	left: 0px;
	top: 0px;
}
#Group_13 {
	position: absolute;
	width: 21.81px;
	height: 21.834px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 21.81px;
	height: 21.834px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Songs {
	position: absolute;
	width: 74px;
	height: 28px;
	left: 47.947px;
	top: 119px;
	overflow: visible;
}
#Python {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
.Active_Link {
	display: none;
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: -34px;
	top: 62px;
}
#Python_logo_coladb {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 2px;
	top: 122px;
	overflow: visible;
}
#Latest_news {
	position: absolute;
	width: 140px;
	height: 28px;
	left: 41px;
	top: 599.911px;
	overflow: visible;
}
#Latest_news_be {
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(100,100,100,1);
	letter-spacing: 0.4px;
}
#About {
	position: absolute;
	width: 105px;
	height: 74.089px;
	left: 44px;
	top: 875.911px;
	overflow: visible;
}
#About_us {
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(100,100,100,1);
	letter-spacing: 0.4px;
}
#F_A_Q {
	position: absolute;
	left: 0px;
	top: 46.089px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#Welcome_to_CoLaDB {
	position: absolute;
	left: 44px;
	top: 662px;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#Contact_us {
	position: absolute;
	left: 44px;
	top: 968px;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(96,96,96,1);
	letter-spacing: 0.4px;
}
#CoLaDBLogo2 {
	position: absolute;
	width: 296px;
	height: 128px;
	left: 51px;
	top: 44px;
	overflow: visible;
}
#Animated_Search {
	position: absolute;
	width: 50.484px;
	height: 58.571px;
	left: 1127.356px;
	top: 276.5px;
	overflow: visible;
}
.Rectangle_1523 {
	position: absolute;
	overflow: visible;
	width: 50.484px;
	height: 50.741px;
	left: 0px;
	top: 0px;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 0.061px;
	height: 14.968px;
	transform: translate(0px, 0px) matrix(1,0,0,1,45.1654,45.3737) rotate(-40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}